[Unit]
Description=audio streaming
After=multi-user.target
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
Type=simple
User=pi
Group=pi
Restart=always
WorkingDirectory=/home/pi/police_radio_scanner
ExecStart=/home/pi/police_radio_scanner/.venv/bin/python /home/pi/police_radio_scanner/stream_radio.py
StandardOutput=journal
StandardError=journal
Environment="PATH=/home/pi/police_radio_scanner/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target